<section id="litter-index" class="index-header">
  <div class="row">
    <div class="col-md-12">
      <h3>Kullar</h3>
      <img src="../assets/images/add.png" class="management-item" [routerLink]="['/admin',{outlets:{adminOutlet:'createlitter'}}]" > 
      <!-- <img src="../assets/images/view.png"  style="height:auto; width:24px;cursor:pointer;" (click)="customize()"> -->
    </div>
    <!-- <div class="col-md-11" style="padding-top:5px;">

    </div>  -->
  </div>
</section>


<section id="litter-rows" *ngIf="showCards == false">
  <div class="loader" *ngIf="loading"></div> 
  <div *ngFor="let litter of litters"> 
    <div *ngIf="loading == false"> 
    <div class="row">
      <div class="col-md-12 row-item" > 
        <div class="row">   
          <div class="col-11 row-edit" [routerLink]="['/admin', {outlets: {adminOutlet:['litters', litter.id]}}]">
            <div class="row">
              <!-- <div class="col-sm-2" class="row-status">
                <img src="{{setStatusImage(litter)}}" class="row-status-item">
              </div> -->
              <!-- <div class="col-3">
                <img *ngIf="litter.images.length > 0" src="{{litter.images[0].value}}" alt="Kattungar" class="img-responsive row-image"> 
              </div> -->
              <div class="col-11 row-notes">
                <h4>
                    {{ litter.parents.length == 0 ? 'Ingen förälder funnen'
                      : litter.parents.length == 1 && litter.parents.length > 0 ? litter.parents[0].name
                      : litter.parents[0].name + ' och ' + litter.parents[1].name }}, <i style="font-size:12px;">ID: {{litter.id}}</i>
                </h4> 
                <p [innerHTML]="litter.notes"></p>
              </div>
            </div>
          </div>
          <div class="col-1 row-management">
              <!-- <img src="../assets/images/edit.png" class="row-management-item" [routerLink]="['/admin', {outlets: {adminOutlet:['litters', litter.id]}}]"> -->
              <img src="../assets/images/delete.png" class="row-management-item" data-toggle="modal" [attr.data-target]="'#litter' + litter.id"> 
          </div>
        </div> 
        <div class="col-2 offset-10 row-status-section" [ngStyle] = "{'background-color': setStatusColor(litter)}">
          <!-- <i style="font-size:12px;">{{litter.statusText}}</i> -->
        </div> 
       </div>  
      </div>  
    </div> 
  </div>
</section> 


<div *ngFor="let litter of litters">
  <div class="modal fade modalPosition" id="litter{{litter.id}}" role="dialog">
    <div class="modal-dialog"> 
      <div class="modal-content">
        <div class="modal-header">
          <h4>Bekräfta borttagning av kull</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <i>{{litter.notes}}</i>
          <hr>
          <p>Denna kull kommer att tas  bort. Detta kan inte ångras.<br><br>Om du inte vill visa upp kullen kan du välja att arkivera den under <i>Editera</i></p>
          <button type="button" class="btn btn-info" data-dismiss="modal">Behåll kull</button>
          <button type="button" class="btn btn-secondary" (click)="delete(litter)">Ta bort kull</button>
        </div>
      </div>
    </div>
  </div>
</div>