<section class="index-header">
<div class="row">
  <div class="col-sm-8">
    <h3>Kullar</h3>
  </div>
  <div class="col-sm-4">
    <a [routerLink]="['/admin',{outlets:{adminOutlet:'createlitter'}}]" class="btn btn-primary">Lägg till kull</a>
  </div>
</div>
</section>


<!-- <section *ngFor="let litter of litters" style="background-color:white; padding:10px; margin:10px;">
  <div class="row">
    <div class="col-md-2">
      <img *ngFor="let image of litter?.images"src="{{image.value}}" alt="Kattungar" style="width:100%; height:auto; padding:5px;" class="img-responsive">
    </div>
    <div class="col-md-10">
      <p [innerHTML]="litter.notes"></p>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-9">
      <p><i>{{litter.status}}</i></p>
    </div>
    <div class="col-md-3">
      <a class="btn btn-primary" [routerLink]="['/admin', {outlets: {adminOutlet:['litters', litter.id]}}]">Editera</a>
      <button type="button" class="btn btn-primary" data-toggle="modal" [attr.data-target]="'#litter' + litter.id">Ta bort</button>
    </div>
  </div>
</section> -->

<section id="litters">
  <div *ngFor="let litter of litters" class="col-md-3 object">
    <div class="row">
      <div class="col-md-12">
        <!-- <img src="{{litter?.images[0].value}}" alt="katt" style="width:100%; height:auto;" class="img-responsive"> -->
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h5>Föräldrar</h5>  
        <p>
          {{ litter.parents.length == 0 ? 'Ingen förälder funnen'
             : litter.parents.length == 1 && litter.parents.length > 0 ? litter.parents[0].name
             : litter.parents[0].name + ' och ' + litter.parents[1].name }}
          </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h5>Födda:</h5><p>{{litter.formattedBirthDate}}</p>
        <h5>Antal ungar:</h5> <p>{{litter.amountOfKids}}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h5>Status</h5>
        <p>{{litter.statusText}}</p>
      </div>
    </div>
    <div class="row" style="margin-top:10px; margin-right:10px;">
      <div class="col-sm-6">
        <a class="btn btn-primary" [routerLink]="['/admin', {outlets: {adminOutlet:['litters', litter.id]}}]">Editera</a>
      </div>
      <div class="col-sm-6">
        <button type="button" class="btn btn-primary" data-toggle="modal" [attr.data-target]="'#litter' + litter.id">Ta bort</button>
      </div>
    </div>
  </div>
</section>

                             <div *ngFor="let litter of litters">
                              <div class="modal fade modalPosition" id="litter{{litter.id}}" role="dialog">
                                <div class="modal-dialog">
                                  <!-- Modal content-->
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <h4>Bekräfta borttagning av kull</h4>
                                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>
                                    <div class="modal-body">
                                      <i>{{litter.notes}}</i>
                                      <hr>
                                      <p>Denna kull kommer att tas  bort. Detta kan inte ångras.<br><br>Om du inte vill visa upp kullen kan du välja att arkivera den under 'Editera'</p>
                                      <button type="button" class="btn btn-success" data-dismiss="modal">Behåll kull</button>
                                      <button type="button" class="btn btn-danger" (click)="delete(litter)">Ta bort kull</button>
                                    </div>
                                  </div>
                                </div>
                              </div>
                             </div>