  <section class="index-header">
    <div class="row">
      <div class="col-sm-8">
          <h3>Föräldrar</h3>
      </div>
      <div class="col-sm-4">
        <a [routerLink]="['/admin',{outlets:{adminOutlet:'createparent'}}]" class="btn btn-primary">Lägg till förälder</a>
      </div>
    </div>
  </section>


<!--   <section>
    <div class="row">
      <div class="col-md-6 offset-6">
        <a [routerLink]="['/admin',{outlets:{adminOutlet:'createparent'}}]" class="btn btn-primary">Lägg till förälder</a>
      </div>
    </div>
  </section> -->


  <section>
      <div *ngFor="let parent of parents" class="col-sm-3 object">
        <div class="row">
          <div class="col-md-12">
            <h4>{{parent.name}}</h4>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <!-- <img src="{{parent?.images[0].value}}" alt="katt" style="width:100%; height:auto;" class="img-responsive"> -->
          </div>
        </div>
        <div class="row" style="margin-top:10px; margin-right:10px;">
          <div class="col-sm-6">
            <a class="btn btn-primary" [routerLink]="['/admin', {outlets: {adminOutlet:['parents', parent.id]}}]">Editera</a>
          </div>
          <div class="col-sm-6">
            <button type="button" class="btn btn-primary" data-toggle="modal" [attr.data-target]="'#parent' + parent.id">Ta bort</button>
          </div>
        </div>
      </div>
  </section>



<!-- Delete modal -->
  <div *ngFor="let parent of parents">
      <div class="modal fade modalPosition" id="parent{{parent.id}}" role="dialog">
        <div class="modal-dialog">
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <h4>Bekräfta borttagning av förälder</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-sm-12">
                    <p><i>{{parent.name}}</i> kommer att tas bort. Detta kan inte ångras.</p>
                </div>
              </div>
              <div class="row">
                  <div class="col-sm-12">
                      <button type="button" class="btn btn-success" data-dismiss="modal">Behåll</button>
                      <button type="button" class="btn btn-danger" (click)="delete(parent)">Ta bort</button>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
     </div>