  <section class="index-header">
  <div class="row">
      <div class="col-sm-1">
        <h3>Föräldrar</h3>
        <img src="../assets/images/add.png" style="height:auto; width:20px; margin-right:10px;cursor:pointer;" [routerLink]="['/admin',{outlets:{adminOutlet:'createparent'}}]"> 
      </div> 
    </div>
  </section>

  <section>
    <div *ngFor="let parent of parents" class="col-sm-3 object">
      <div id="edit" [routerLink]="['/admin', {outlets: {adminOutlet:['parents', parent.id]}}]"> 
        <div class="row">
          <div class="col-sm-6">
            <h4>{{parent.name}}</h4>
          </div>
          <div class="col-sm-2 offset-4">  
              <!-- <img src="../assets/images/edit.png" style="height:auto; width:10px; ;cursor:pointer;" [routerLink]="['/admin', {outlets: {adminOutlet:['parents', parent.id]}}]"> -->
              <img src="../assets/images/delete.png" style="height:auto; width:10px;cursor:pointer;" data-toggle="modal"  [attr.data-target]="'#parent' + parent.id"> 
            </div>
        </div>
        <div class="row" *ngIf="parent.images.length > 0">
          <div class="col-sm-10">
            <img src="{{parent?.images[0].value}}" alt="katt" style="width:100%; height:auto;" class="img-responsive">
          </div>
        </div>
        <div class="row" style="margin-top:10px; margin-right:10px;">
          
        </div>
      </div>
    </div>
  </section>



<!-- Delete modal -->
  <div *ngFor="let parent of parents">
      <div class="modal fade modalPosition" id="parent{{parent.id}}" role="dialog">
        <div class="modal-dialog">
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <h4>Bekräfta borttagning av förälder</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-sm-12">
                    <p><i>{{parent.name}}</i> kommer att tas bort. Detta kan inte ångras.</p>
                </div>
              </div>
              <div class="row">
                  <div class="col-sm-12">
                      <button type="button" class="btn btn-success" data-dismiss="modal">Behåll</button>
                      <button type="button" class="btn btn-danger" (click)="delete(parent)">Ta bort</button>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
     </div>