h1 {
    font-size:30px;
    color: rgb(94, 170, 196);
    font-weight: 100;
    font-family: "Fredoka One", sans-serif;
    text-align:center;
}
h2 {
    font-size:30px;
    color:rgb(94, 170, 196);
    font-weight: 100;
    font-family: "Fredoka One", sans-serif;
}
h3 {
    font-size:15px;
    color:rgb(94, 170, 196);
    font-weight: 100;
    font-family: "Fredoka One", sans-serif;
}
h4 {
    font-size:15px;
    color:rgb(94, 170, 196);
    font-weight: 100;
    font-family: "Fredoka One", sans-serif;
}
h5 {
    font-size:40px;
   /* color:rgb(255, 153, 0);  nice orange */
    color: rgb(94, 170, 196);
    font-weight: 100;
    font-family: "Fredoka One", sans-serif;
    text-align:center;
}

p {
    font-family: "Roboto", serif;
    font-weight: 100;
    font-size: 15px;
    color: rgb(63, 63, 63)
}

.info {
    font-size:15px;
     color: rgb(94, 170, 196);
     font-weight: 100;
     font-family: "Fredoka One", sans-serif;
     text-align:center;
}

.banner {
    max-width:100%;
    background-image: url("assets/images/background-cat.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    top:-20px;
}

.section {
    padding-top: 50px;
    padding-bottom:50px;
}

#about {
    background-color: rgb(181, 205, 216)
}

.circle {
    padding:50px;
    border-radius:1000px;
    max-width:300px;
    max-height:300px;
    overflow:hidden;
}

.object {
    background-color: white;
    padding:15px;
    border-radius:4px; 
}

@media only screen and (min-width: 1200px) {
    .banner-image {
        max-width:550px;
        padding:50px;
        padding-top:100px;
    }
}

@media only screen and (max-width: 1200px) {
    .banner-image {
        max-width:500px;
        padding:50px;
        padding-top:100px;
    }
}

@media only screen and (max-width: 992px) {
    .banner-image {
        max-width:400px;
        padding:50px;
        padding-top:100px;
    }
}


@media only screen and (max-width: 768px) {
    .banner-image {
        max-width:300px;
        padding:50px;
        padding-top:100px;
    }
}

@media only screen and (max-width: 576) {
    .banner-image {
        max-width:200px;
        padding:50px;
        padding-top:50px;
    }
}