<section class="banner" style="z-index: -1;">
  <div class="container">
    <div class="row">
      <div class="col" style="margin-bottom:40px;">
         <img src="assets/images/nav-logo-white.png" alt="ragdollungar silverkissen" class="banner-image">
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="row">
        <div class="col-md-4" style="padding:70px;">
            <h5>{{this.litterTextCount}} på gång!</h5>
            <p class="info">
              Se mer information om våra <a href="http://www.silverkissen.se/kattungar">ragdollungar</a>
            </p> 
          </div>
      <div class="col-md-8">
        <h1>Ragdollungar till salu</h1>
        <p>I'm gonna start with a little Alizarin crimson and a touch of Prussian blue But we're not there yet, so we don't need to worry about it. Making all those little fluffies that live in the clouds. Use your imagination, let it go. It looks so good, I might as well not stop. There isn't a rule. You just practice and find out which way works best for you.<br><br>
          Without washing the brush, I'm gonna go right into some Van Dyke Brown, some Burnt Umber, and a little bit of Sap Green. I get carried away with this brush cleaning. Trees get lonely too, so we'll give him a little friend. If you don't like it - change it. It's your world.
        </p>
      </div>
    </div>
  </div>
</section>


<!-- <section class="section" id="about">
    <div class="container">
      <div class="row">
          <div class="col-md-12">
            <h2>Om oss</h2> 
          </div>
      </div>
      <div class="row"> 
        <div class="col-md-3 circle" style="overflow:hidden;">
            <img src="assets/images/ipenda_kanske.jpg" alt="kattunge" style="width:100%;">
        </div>
        <div class="col-md-3 offset-1 object">
            <h3>Monica och Erik</h3>
              <p>
                I'm gonna start with a little Alizarin crimson and a touch of Prussian blue But we're not there yet
              </p>
          </div>
          <div class="col-md-3 offset-1 object">
              <h3>Monica och Erik</h3>
                <p>
                  I'm gonna start with a little Alizarin crimson and a touch of Prussian blue But we're not there yet
                </p>
            </div>
      </div>
    </div>
  </section> -->