.modalPosition {
    position:fixed; top:15%;
}

.table-head {
    background-color:#0079a1; color:white;
}

.sections {
    background-color: white; padding:10px;
}

input, textarea {
    margin-bottom: 25px;
}

.modal-label {
    padding-top: 10px;
} 