<section>
  <div class="row">
    <div class="col-md-12">
      <h1>Lägg till kull</h1>
    </div>
  </div>
</section>


<div class="container">
  <form [formGroup]="createForm" (ngSubmit)="createLitter(createForm.value)">
    <section class="sections">
      <h4>Generellt</h4>
      <label>Anteckningar</label>
      <textarea formControlName="notes" class="form-control"></textarea>
      <div class="row">
        <div class="col-md-12">
          <label>Bilder</label><br>
          <input type="file" id="images" class="btn btn-primary" (change)="onFileChange($event)" #fileInput multiple>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <label>Antal katter</label>
          <input type="number" formControlName="numberOfKittens" class="form-control">
          <span style="color:red;"
            *ngIf="createForm.controls['numberOfKittens'].touched && createForm.controls['numberOfKittens'].invalid">
              Antal ungar krävs..
          </span>
        </div>

        <div class="col-md-6">
          <label>Födda</label>
          <input type="date" formControlName="born" class="form-control">
          <span style="color:red;"
            *ngIf="createForm.controls['born'].touched && createForm.controls['born'].invalid">
              Datum krävs..
          </span>
        </div>
      </div>
    </section>
    <section id="parents" class="sections">
      <div class="row">
        <div class="col-md-12">
          <h4>Föräldrar</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <label class="center-label">Pappa</label>
          <select formControlName="dad" class="form-control">
            <option *ngFor="let dad of dads" value="{{dad.id}}">{{dad.name}}</option>
          </select>
          <span style="color:red;"
            *ngIf="createForm.controls['dad'].touched && createForm.controls['dad'].invalid">
              En pappa krävs..
          </span>
        </div>


        <div class="col-md-6">
          <label class="center-label">Mamma</label>
          <select formControlName="mom" class="form-control">
            <option *ngFor="let mom of moms" value="{{mom.id}}">{{mom.name}}</option>
          </select>
          <span style="color:red;"
          *ngIf="createForm.controls['mom'].touched && createForm.controls['mom'].invalid">
            En mamma krävs..
        </span>
        </div>
      </div>
    </section>


    <section id="management" class="sections">
      <div class="row">
        <div class="col-md-12">
          <button type="submit" class="btn btn-success" [disabled]="createForm.pristine">Spara kull</button>
          <button type="button" (click)="abort()" class="btn btn-primary">Tillbaka</button>
        </div>
      </div>
    </section>
  </form>
</div>