<section>
  <div class="row">
    <div class="col-md-12">
      <h1>Lägg till kull</h1>
    </div>
  </div>
</section>


<div class="row">
  <div class="col-md-5">
  <form [formGroup]="createForm" (ngSubmit)="createLitter(createForm.value)">
    <section class="sections">
      <h4>Generellt</h4>
      <label>Anteckningar</label>
      <textarea formControlName="notes" class="form-control"></textarea>
   
      <div class="row">
        <div class="col-md-12">
          <label>Antal katter</label>
          <input type="number" formControlName="numberOfKittens" class="form-control">
          <span style="color:red;"
            *ngIf="createForm.controls['numberOfKittens'].touched && createForm.controls['numberOfKittens'].invalid">
              Antal ungar krävs..
          </span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <label>Födda</label>
          <input type="date" formControlName="born" class="form-control">
          <span style="color:red;"
            *ngIf="createForm.controls['born'].touched && createForm.controls['born'].invalid">
              Datum krävs..
          </span>
        </div>
      </div>
    </section>

    <section id="litter-images" class="sections">
      <div class="row">
          <div class="col-md-12"> 
            <h4>Profilbild</h4>
            <!-- <input type="file" id="images" class="btn btn-primary" (change)="onFileChange($event)" #fileInput multiple> -->
            <label class="btn btn-info" style="margin-top:9px;"for="displayPicture">Lägg till</label>
            <div *ngIf="loadedDisplayPicture"> 
                <img src="{{this.displayPicture.value}}" class="img-style"> 
            </div> 
            <input type="file" id="displayPicture" style="display:none;"  (change)="onFileChangeDisplayPicture($event)" #fileInputDisplayPicture> 
            <!-- <button type="submit" class="btn btn-info">Ladda upp</button> -->
          </div> 
        </div>
    </section>

    <section id="litter-images" class="sections">
      <div class="row">
          <div class="col-md-12"> 
            <h4>Bilder</h4>
            <!-- <input type="file" id="images" class="btn btn-primary" (change)="onFileChange($event)" #fileInput multiple> -->
            <label class="btn btn-info" style="margin-top:9px;"for="images">Lägg till</label>
            <div *ngIf="loadedImages">
              <div *ngFor="let image of this.imagesToAdd">
                <img *ngIf="image.displayPicture == false" src="{{image.value}}" class="img-style">
              </div>
            </div> 
            <input type="file" id="images" style="display:none;" multiple (change)="onFileChange($event)" #fileInput> 
            <!-- <button type="submit" class="btn btn-info">Ladda upp</button> -->
          </div> 
        </div>
    </section>

    <section id="parents" class="sections">
      <div class="row">
        <div class="col-md-12">
          <h4>Föräldrar</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <label class="center-label">Pappa</label>
          <select formControlName="dad" class="form-control">
            <option *ngFor="let dad of dads" value="{{dad.id}}">{{dad.name}}</option>
          </select>
          <span style="color:red;"
            *ngIf="createForm.controls['dad'].touched && createForm.controls['dad'].invalid">
              En pappa krävs..
          </span>
        </div>


        <div class="col-md-6">
          <label class="center-label">Mamma</label>
          <select formControlName="mom" class="form-control">
            <option *ngFor="let mom of moms" value="{{mom.id}}">{{mom.name}}</option>
          </select>
          <span style="color:red;"
          *ngIf="createForm.controls['mom'].touched && createForm.controls['mom'].invalid">
            En mamma krävs..
        </span>
        </div>
      </div>
    </section>


    <section id="management" class="sections">
      <div class="row">
        <div class="col-md-12">
          <button type="submit" class="btn btn-info" [disabled]="createForm.pristine">Spara kull</button>
          <button type="button" (click)="abort()" class="btn btn-secondary">Tillbaka</button>
        </div>
      </div>
    </section>
  </form>
  </div>
</div>