<div id="background">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-md-6 col-lg-4 offset-sm-2 offset-md-3 offset-lg-4 login-section">
        <h1>Silverkissen Admin</h1>
        <form [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)"  style="margin: 20px; margin-left:0px;">
            <!-- <label>Användarnamn</label> -->
            <input type="text" 
              class="form-control" 
              style="margin-bottom: 10px !important;"
              id="username" 
              name="username"
              placeholder="Användarnamn"
              formControlName="username">
              <!-- <label>Lösenord</label> -->
              <input type="password" 
              class="form-control" 
              style="margin-bottom: 10px !important;"
              id="password" 
              placeholder="Lösenord"
              name="password"
              formControlName="password">
            <button type="submit" class="btn btn-login" style="margin-top:10px;" [disabled]="!loginForm.valid">Logga in</button>
            <span class="warning" 
            *ngIf="statusCode == 401">
              Incorrect username or password.
          </span>
        </form>
       </div> 
    </div>
    <div class="row">
      <div class="col-sm-8 col-md-4 col-lg-4s offset-sm-2 offset-md-3 offset-lg-4">
        <div class="icon-attribute">
          Icons made by 
          <a href="https://www.freepik.com/?__hstc=57440181.df72cbbd917fa3bafd274d34c833ef18.1563407361784.1563407361784.1563407361784.1&__hssc=57440181.3.1563407361785&__hsfp=3232041946" 
             title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/"                 
             title="Flaticon">www.flaticon.com</a>
         </div> 
      </div>
    </div>
  </div>
</div>