.top-row-fix {
    margin-top: 88px;
} 

h1 {
    font-size:30px;
    color: black;
    /* color:white; */
    /* font-weight: bold; */
    font-family: "Oswald", sans-serif; 
}

label {
    /* float:left; */
    font-family: "Nunito", sans-serif;
    font-size:16px;
    color:rgba(0, 0, 0, 0.596);
    /* color:white; */
}

.btn-login {
    font-family: "Nunito", sans-serif;
    /* background: linear-gradient(30deg, rgb(65, 141, 255), rgb(0, 102, 255)); */
    background:rgb(65, 141, 255);
    color:white;
    border-radius:20px; 
    box-shadow:5px 5px 5px 0px rgba(25, 0, 255, 0.5);
    cursor:pointer;
    /* border:4px solid blue; */
}

.btn-login:hover {
    background:rgba(65, 141, 255, 0.575);
    /* color:black; */
    /* border:4px solid black; */
    /* border-radius:100px; */
    /* box-shadow:7px 7px 5px 0px rgba(0, 0, 0, 0.3); */
}

.icon-attribute {
    font-size: 10px;
    text-align:center; 
    position: relative;
    bottom:-145%;    
}
 
.login-section {
    /* background: linear-gradient(-45deg, rgb(150, 161, 255), rgb(0, 96, 175) 80%); */
    background:white;
    border-radius:5px;
    margin-top:20%;
    padding-top:20px;
    padding-left:35px; 
    box-shadow: 10px 7px 5px 0px rgba(0, 0, 0, 0.151);
}

input {
    border-radius: 17px;
}

#background {
    min-height: 100vh;
    background:linear-gradient(rgb(24, 132, 255) 1%,rgb(173, 185, 255) 70%)
} 