<nav class="navbar navbar-expand-lg navbar-dark bg-primary custom-nav">
    <img class="navbar-brand" src="assets/images/nav-logo-white.png" alt="silverkissen logo from logomakr" style="width:110px; height:auto;">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation" style="">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" routerLink="kattungar">Kattungar</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="om-oss">Om oss</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="tidigare-kullar">Tidigare kullar</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="planerade-kullar">Planerade kullar</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="katter">Våra katter</a>
        </li>
      </ul>
      <button class="btn btn-info my-2 my-sm-0" type="button" (click)="toLogin()">Login</button>
    </div>
  </nav>


