.modalPosition {
    position:fixed; top:15%;
}

.table-head {
    background-color:#0079a1; color:white;
}

.sections {
    background-color: white; padding:10px;
}

.center-label {
    padding-top:10px;
}

.img-style {
    width:21%; height:auto;max-width:205px; max-height:250px;float:left; margin-right:5px; margin-bottom:5px;
}