<section>
  <div class="row">
    <div class="col-md-12">
      <h1>Lägg till förälder</h1>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <form [formGroup]="createForm" (ngSubmit)="create(createForm.value)">
      <section class="sections">

        <div class="row">
          <div class="col-md-6">
            <label>Namn</label>
            <input type="input" class="form-control" formControlName="name">
          </div>
          <div class="col-md-6">
            <label>Kön</label>
            <select class="form-control" formControlName="sex">
              <option value="Hane">Hane</option>
              <option value="Hona">Hona</option>
            </select>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <label>Anteckningar</label>
            <textarea formControlName="notes" class="form-control"></textarea>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <label>Bilder</label><br>
            <input type="file" id="images" class="btn btn-primary" (change)="onFileChange($event)" #fileInput multiple>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <label>Född</label>
            <input type="date" formControlName="born" class="form-control">
            <span style="color:red;"
              *ngIf="createForm.controls['born'].touched && createForm.controls['born'].invalid">
                Datum krävs..
            </span>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <label>Ras</label>
            <input type="input" formControlName="breed" class="form-control">
          </div>
          <div class="col-md-6">
            <label>Färg</label>
            <input type="input" formControlName="color" class="form-control">
          </div>
        </div>

        <div class="row" style="margin-top:20px;">
          <div class="col-md-4 checkbox">
            <label>Vaccinerade <input type="checkbox" formControlName="vaccinated"></label>
          </div>
          <div class="col-md-4 checkbox">
            <label>SVERAK <input type="checkbox" formControlName="pedigree"></label>
          </div>
          <div class="col-md-4 checkbox">
            <label>Chippade <input type="checkbox" formControlName="chipped"></label>
          </div>
        </div>
      </section>


      <section id="management" class="sections">
        <div class="row">
          <div class="col-md-12">
            <button type="submit" class="btn btn-success" [disabled]="createForm.invalid">Spara kull</button>
            <button type="button" class="btn btn-primary">Tillbaka</button>
          </div>
        </div>
      </section>
    </form>
  </div>
</section>