<section>
  <div class="row">
    <div class="col-md-12">
      <h1>Lägg till förälder</h1>
    </div>
  </div>
</section>

<section>
  <div class="row">
    <div class="col-md-5">
    <form [formGroup]="createForm" (ngSubmit)="create(createForm.value)">
      <section class="sections">

        <div class="row">
          <div class="col-md-6">
            <label>Namn</label>
            <input type="input" class="form-control" formControlName="name">
          </div>
          <div class="col-md-6">
            <label>Kön</label>
            <select class="form-control" formControlName="sex">
              <option value="Hane">Hane</option>
              <option value="Hona">Hona</option>
            </select>
            <span style="color:red;"
            *ngIf="createForm.controls['sex'].touched && createForm.controls['sex'].invalid">
              Kön krävs..
          </span>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <label>Anteckningar</label>
            <textarea formControlName="notes" class="form-control"></textarea>
          </div>
        </div>

        <section id="litter-images" class="sections">
          <div class="row">
              <div class="col-md-12"> 
                <h4>Profilbild</h4>
                <!-- <input type="file" id="images" class="btn btn-primary" (change)="onFileChange($event)" #fileInput multiple> -->
                <label class="btn btn-info" style="margin-top:9px;"for="displayPicture">Lägg till</label>
                <div *ngIf="loadedDisplayPicture"> 
                    <img src="{{this.displayPicture.value}}" class="img-style"> 
                </div> 
                <input type="file" id="displayPicture" style="display:none;"  (change)="onFileChangeDisplayPicture($event)" #fileInputDisplayPicture> 
                <!-- <button type="submit" class="btn btn-info">Ladda upp</button> -->
              </div> 
            </div>
        </section>

        <section id="litter-images" class="sections">
            <div class="row">
                <div class="col-md-12"> 
                  <h4>Bilder</h4>
                  <!-- <input type="file" id="images" class="btn btn-primary" (change)="onFileChange($event)" #fileInput multiple> -->
                  <label class="btn btn-info" style="margin-top:9px;"for="images">Lägg till</label>
                  <div *ngIf="loadedImages">
                    <div *ngFor="let image of this.imagesToAdd">
                      <img *ngIf="image.displayPicture == false" src="{{image.value}}" class="img-style">
                    </div>
                  </div> 
                  <input type="file" id="images" style="display:none;" multiple (change)="onFileChange($event)" #fileInput> 
                  <!-- <button type="submit" class="btn btn-info">Ladda upp</button> -->
                </div> 
              </div>
          </section>
<!-- 
        <div class="row">
          <div class="col-md-12">
            <label>Bilder</label><br>
            <input type="file" id="images" class="btn btn-primary" (change)="onFileChange($event)" #fileInput multiple>
          </div>
        </div> -->

        <div class="row">
          <div class="col-md-12">
            <label>Född</label>
            <input type="date" formControlName="birthdate" class="form-control">
            <span style="color:red;"
              *ngIf="createForm.controls['birthdate'].touched && createForm.controls['birthdate'].invalid">
                Datum krävs..
            </span>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <label>Ras</label>
            <input type="input" formControlName="breed" class="form-control">
          </div>
          <div class="col-md-6">
            <label>Färg</label>
            <input type="input" formControlName="color" class="form-control">
          </div>
        </div>
<!-- 
        <div class="row" style="margin-top:20px;">
          <div class="col-md-4 checkbox">
            <label>Vaccinerad <input type="checkbox" formControlName="vaccinated"></label>
          </div>
          <div class="col-md-4 checkbox">
            <label>SVERAK <input type="checkbox" formControlName="pedigree"></label>
          </div>
          <div class="col-md-4 checkbox">
            <label>Chippad <input type="checkbox" formControlName="chipped"></label>
          </div>
        </div> -->
      </section>


      <section id="management" class="sections">
        <div class="row">
          <div class="col-md-12">
            <button type="submit" class="btn btn-info" [disabled]="createForm.invalid">Spara förälder</button>
            <button type="button" (click)="abort()" class="btn btn-secondary">Tillbaka</button>
          </div>
        </div>
      </section>
    </form>
  </div>
</div>
</section>