<section class="index-header">
    <div class="row">
      <div class="col-sm-1">
        <h3>Bilder</h3>
      </div>
      <div class="col-sm-11" style="padding-top:5px;">
        <img src="../assets/images/add.png" style="height:auto; width:20px; margin-right:10px;cursor:pointer;" [routerLink]="['/admin',{outlets:{adminOutlet:'createlitter'}}]" > 
        <!-- <img src="../assets/images/view.png"  style="height:auto; width:24px;cursor:pointer;" (click)="customize()"> -->
      </div> 
    </div>
  </section>