<head>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Tangerine" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Black+Han+Sans" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Fredoka+One" rel="stylesheet">
  <title>Silverkissen Admin</title>
</head>

<body style="position: absolute; min-height:100%; max-height:auto; width:100%; background-color: #e0e0e0;">
  <app-nav></app-nav>
  <div> 
    <div>
        <router-outlet></router-outlet> 
      </div>
  </div> 
</body>
