h1 {
    font-size:30px;
    color: rgb(52, 159, 201);
    font-weight: 100;
    font-family: "Black Han Sans", serif;
}
h5 {
    font-size:20px;
   /* color:rgb(255, 153, 0);  nice orange */
    color: rgb(52, 159, 201);
    font-weight: 100;
    font-family: "Black Han Sans", serif;
}

h4 {
    font-size:15px;
    color:rgb(0, 0, 0);
    font-weight: 100;
    font-family: "Roboto", serif;
}

p {
    font-family: "Roboto", serif;
    color: rgb(0, 0, 0)
}

body {
    position: absolute; min-height:100%; max-height:auto; width:100%;
    /* background: linear-gradient(rgb(189, 189, 189), rgb(230, 230, 230)); */
}