<head>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Tangerine" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Black+Han+Sans" rel="stylesheet">
  <title>Silverkissen Katteri</title>
</head>

<body>
  <app-nav></app-nav>
  <div style="position: absolute; height:auto; width:100%; background-color: #e0e0e0;">
    <div style="padding-top:100px;">
        <router-outlet></router-outlet>
        <!-- logomakr.com/9EfE0Z for editing logo, dont forget to give credit. -->
      </div>
  </div>
  <app-footer></app-footer>
</body>
