.column {
    padding-top:30px;
    padding-bottom:15px;
    margin-bottom:10px;
}

.object {
    background-color: white;
    padding:15px;
    border-radius:4px;
}

@media only screen and (min-width: 768px) {
    .fixed {
        position:fixed;
    }
}

.index-header {
    margin-bottom:20px;
}

.main-body {
    padding-bottom:15px;
}

h1 {
    font-size:30px;
    color: rgb(94, 170, 196);
    font-weight: 100;
    font-family: "Black Han Sans", serif;
}
h5 {
    font-size:20px;
   /* color:rgb(255, 153, 0);  nice orange */
    color: rgb(94, 170, 196);
    font-weight: 100;
    font-family: "Black Han Sans", serif;
}

h4 {
    font-size:15px;
    color:rgb(0, 0, 0);
    font-weight: 100;
    font-family: "Roboto", serif;
}

p {
    font-family: "Roboto", serif;
    color: rgb(0, 0, 0)
}