<!--
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
          <h1><strong>Nuvarande kattungar</strong></h1>
      </div>
    </div>
  </div>
</section> -->

<section class="main-body">
  <div class="container">
    <div class="row">
      <div class="col-md-3 column text-center">
          <h1>Nuvarande Ragdollungar</h1>
          <p>
            Här samlar vi information om alla våra kattungar som är redo, eller snart är redo, att tingas!<br><br>
            Datumet för när respektive kull är flyttklar kan komma att ändras beroende på bland annat veterinärstider.
          </p>
      </div>
      <div class="col-md-6">
        <div *ngIf="litters.length == 0" class="row">
          <div class="col-md-12 text-center">
            <p>För närvarande har vi inga kullar! Titta gärna in senare!</p>
          </div>
        </div>
        <div class="row" *ngFor="let litter of litters">
          <div class="col-md-12" class="column">
            <div id="controls{{litter.id}}" class="col-md-12 carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                <div *ngFor="let image of litter.images; let i = index" class="carousel-item {{ (i == 0) ? 'active' : ''}}">
                  <img class="d-block w-100" src="{{image}}" alt="{{image.filename}}"> <!-- Change value to image.value in live -->
                </div>
              </div>
              <a class="carousel-control-prev" href="#controls{{litter.id}}" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#controls{{litter.id}}" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
            <hr>
            <span class="text-primary"><h5>Flyttklara {{litter.readyAt}}</h5></span>
            <p [innerHTML]="litter.notes"></p>
            <hr>
            <div class="row">
              <div class="col-sm-12"><p>Födda: {{litter.born}}</p></div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div *ngIf="litter.pedigree"><p>Stamtavla i SVERAK</p></div>
                <div *ngIf="litter.vaccinated"><p>Vaccinerad</p></div>
                <div *ngIf="litter.chipped"><p>Chippad</p></div>
                <button type="button" (click)="readMore(litter)" class="btn btn-info form-control">Läs mer</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 text-center column">
        <form>
          <h5>Intresserad?</h5>
          <p>Kontakta oss här för mer information om våra katter!</p>
          <label>E-post</label>
          <input type="text" placeholder="exempel@exempel.se" class="form-control">
          <label>Meddelande</label>
          <textarea placeholder="Ditt meddelande" class="form-control"></textarea>
          <button type="submit" class="btn btn-primary" style="margin-top:5px;">Skicka</button>
        </form>
      </div>
    </div>
  </div>
</section>