<section>
    <div class="row">
      <div class="col-md-12 text-center">
          <h1><strong>Nuvarande kattungar</strong></h1>
      </div>
    </div>
</section>
<section style="padding-bottom:15px;">
  <div class="container">
    <div class="row">
      <div class="col-md-3 text-center">
        <p>
          Här samlar vi information om alla våra kattungar som är redo, eller snart är redo, att tingas!<br><br>
          Datumet för när respektive kull är flyttklar kan komma att ändras beroende på bland annat veterinärstider och annat.
        </p>
      </div>
      <div class="col-md-6">
        <div *ngIf="litters.length == 0" class="row">
          <div class="col-md-12 text-center">
            <p>För närvarande har vi inga kullar! Titta gärna in senare!</p>
          </div>
        </div>
        <div class="row" *ngFor="let litter of litters">
          <div class="col-md-12" style="padding-top:30px; padding-bottom:15px; margin-bottom:10px; background-color:white;">
            <div id="carouselExampleControls" class="col-md-12 carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                <div *ngFor="let image of litter.images; let i = index" class="carousel-item {{ (i == 0) ? 'active' : ''}}">
                  <img class="d-block w-100" src="{{image.value}}" alt="{{image.filename}}" style="width:200px; height: auto;">
                </div>
              </div>
              <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
            <hr>
            <p [innerHTML]="litter.notes"></p>
            <hr>
            <span class="text-primary"><h5>Flyttklara {{litter.readyAt}}</h5></span>
            <hr>
            <div class="row">
              <hr>
              <div class="col-sm-12"><p>Födda: {{litter.born}}</p></div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div *ngIf="litter.pedigree"><p>Stamtavla i SVERAK</p></div>
                <div *ngIf="litter.vaccinated"><p>Vaccinerad</p></div>
                <div *ngIf="litter.chipped"><p>Chippad</p></div>
                <button type="button" (click)="readMore(litter)" class="btn btn-info form-control">Läs mer</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 text-center">
          <p>
            Här samlar vi information om alla våra kattungar som är redo, eller snart är redo, att tingas!<br><br>
            Datumet för när respektive kull är flyttklar kan komma att ändras beroende på bland annat veterinärstider och annat.
          </p>
        </div>
    </div>
  </div>
</section>